*.docx
Project/MU_logo_PPT.pptx
Project/MU_logo_PPT.pptx
Project/PHP Project/storage/jobs/1d2e4cc06da2e513/SE Assignment.docx
Project/PHP Project/storage/jobs/9f8616ef0d627239/SE Assignment.docx
Project/PHP Project/storage/jobs/9fc13437834afa10/Operating_System_Notes.docx
Project/PHP Project/storage/jobs/c11fd2e1a738eb41/ICICI_Bank_Stock_Market_Project_FINAL_PPT.pptx
Project/SIP2/SIP/Mood_Based_Music_Player_Presentation_Updated.pptx
Project/SIP2/SIP/SIP.pdf
sem 1/PPT/BWD/BWD-8-8.txt.docx
sem 1/PPT/C/CC Notes.docx
sem 1/PPT/C/Syllabus.pdf
sem 2/Code/C/CH - 1/P1.C.docx
sem 2/Code/C/CH - 1/P10.docx
sem 2/Code/C/CH - 1/P11.C.docx
sem 2/Code/C/CH - 1/P12.C.docx
sem 2/Code/C/CH - 1/P13.C.docx
sem 2/Code/C/CH - 1/P14.C.docx
sem 2/Code/C/CH - 1/P15.C.docx
sem 2/Code/C/CH - 1/P16.C.docx
sem 2/Code/C/CH - 1/P17.C.docx
sem 2/Code/C/CH - 1/P2.C.docx
sem 2/Code/C/CH - 1/P3.C.docx
sem 2/Code/C/CH - 1/P4.C.docx
sem 2/Code/C/CH - 1/P5.C.docx
sem 2/Code/C/CH - 1/P6.C.docx
sem 2/Code/C/CH - 1/P7.C.docx
sem 2/Code/C/CH - 1/P8.C.docx
sem 2/Code/C/CH - 1/P9.C.docx
sem 2/Code/C/CH - 2/P1.C.docx
sem 2/Code/C/CH - 2/P10.C.docx
sem 2/Code/C/CH - 2/P2.txt.docx
sem 2/Code/C/CH - 2/P3.C.docx
sem 2/Code/C/CH - 2/P4.C.docx
sem 2/Code/C/CH - 2/P5.C.docx
sem 2/Code/C/CH - 2/P6.C.docx
sem 2/Code/C/CH - 2/P7.C.docx
sem 2/Code/C/CH - 2/P8.C.docx
sem 2/Code/C/CH - 2/P9.C.docx
sem 2/Code/C/LABMANUALpdf__2024_02_08_11_47_04.pdf
sem 2/PPT/DBMS/05MC0105_Relational Database Management System_MCA_1.pdf
sem 2/PPT/DBMS/05MC0207 - Data Analytics and Visualization.pdf
sem 2/PPT/DBMS/1. Basic SQL Commands-(S).pdf
sem 2/PPT/DBMS/1. Fundamentals of PLSQL - S.pdf
sem 2/PPT/DBMS/2. Data Constraints-(S).pdf
sem 2/PPT/DBMS/3. SQL-(S).pdf
sem 2/PPT/DBMS/ASSIGNMENT - 5.pdf
sem 2/PPT/DBMS/ASSIGNMENT - 6.pdf
sem 2/PPT/DBMS/ASSIGNMENT - 7.pdf
sem 2/PPT/DBMS/ORACLE Table for Exercise.pdf
sem 2/PPT/DBMS/RDBMS-PracticalExam - B Div.pdf
sem 2/PPT/DS/Unit1pptx__2024_04_16_21_36_42.pptx
sem 2/PPT/DS/Unit2IterativeMethodsforFindingRootspdf__2024_03_11_11_11_56.pdf
sem 2/PPT/DS/Unit2pptx__2024_04_16_21_36_54.pptx
sem 2/PPT/DS/Unit3pptx__2024_04_24_13_23_57.pptx
sem 2/PPT/DS/Unit4pptx__2024_05_02_10_37_57.pptx
sem 2/PPT/DS/Unit5pptx__2024_05_04_15_55_07.pptx
sem 3/Code/05BC3301DBMS2pdf__2024_07_04_08_01_02.pdf
sem 3/Code/05BC3302DSpdf__2024_07_05_07_58_56.pdf
sem 3/Code/ch-1.docx
sem 3/Code/ch-2.docx
sem 3/Code/DS/.vscode/c_cpp_properties.json
sem 3/Code/java/java.pdf
sem 3/PPT/DBMS2/unit1pdf__2024_07_10_13_06_40.pdf
sem 3/PPT/DBMS2/Unit2pptxpdf__2024_07_30_12_12_42.pdf
sem 3/PPT/DBMS2/Unit3pdf__2024_07_30_12_12_57.pdf
sem 3/PPT/DBMS2/Unit4pdf__2024_09_24_09_49_35.pdf
sem 3/PPT/DBMS2/Unit5pdf__2024_09_24_09_51_08.pdf
sem 3/PPT/DS/UNIT1pptx__2024_07_17_15_17_58.pptx
sem 3/PPT/DS/Unit2pptx__2024_07_17_15_18_18.pptx
sem 3/PPT/DS/Unit3pptx__2024_07_17_15_18_38.pptx
sem 3/PPT/DS/Unit4pptx__2024_07_17_15_19_18.pptx
sem 3/PPT/DS/Unit5pptx__2024_07_17_15_19_36.pptx
sem 3/PPT/Java/TBUnit1pdf__2024_09_03_11_08_25.pdf
sem 3/PPT/Java/TBUnit2pdf__2024_09_03_11_09_07.pdf
sem 3/PPT/Java/TBUnit3pdf__2024_11_21_15_25_31.pdf
sem 3/PPT/Java/TBUnit4pdf__2024_11_21_15_25_45.pdf
sem 3/PPT/Java/TBUnit5pdf__2024_11_21_15_26_06.pdf
sem 3/PPT/LS/Presentation2pptx__2024_10_26_12_35_31.pptx
sem 3/PPT/LS/Unit2DFinalpptx__2024_10_26_12_02_06.pptx
sem 3/PPT/MIS/Unit 1.pdf
sem 3/PPT/MIS/Unit 2.pdf
sem 3/PPT/MIS/Unit 3.pdf
sem 3/PPT/MIS/Unit 4.pdf
sem 3/PPT/MIS/Unit 5.pdf
sem 4/PPT/CN/Assignment 2.docx
sem 4/PPT/CN/OSI Model.pdf
sem 4/PPT/CN/Revision.docx
sem 4/PPT/CN/Syllabus.pdf
sem 4/PPT/CN/Unit 1 (2).pdf
sem 4/PPT/CN/Unit 1.pdf
sem 4/PPT/CN/Unit 2.pdf
sem 4/PPT/CN/Unit 3.pdf
sem 4/PPT/CN/Unit_5_AL.pdf.pdf
sem 4/PPT/CN/Unit_5_TL.pdf
sem 4/PPT/OS/OS_LAB_Manual.pdf
sem 4/PPT/OS/Questions.docx
sem 4/PPT/OS/Revision.docx
sem 4/PPT/OS/Unit 1 (2).pdf
sem 4/PPT/OS/Unit 1.pdf
sem 4/PPT/OS/Unit 2.pdf
sem 4/PPT/OS/Unit 3.pdf
sem 4/PPT/OS/Unit 4.pdf
sem 4/PPT/OS/Unit 5 (1).pdf
sem 4/PPT/OS/Unit 5 (2).pdf
sem 4/PPT/Python/Syllabus.pdf
sem 4/PPT/Python/Unit 1.pdf
sem 4/PPT/Python/Unit 2.pdf
sem 4/PPT/R/05BC3403RPROGpdf__2025_01_21_07_56_13.pdf
sem 4/PPT/R/createanemptyvectorinRdocx__2025_01_20_07_58_21.docx
sem 4/PPT/R/Exercise1Defdocx__2025_01_21_07_55_18.docx
sem 4/PPT/R/sprintfinRProgrammingdocx__2025_01_27_08_02_15.docx
sem 5/Code/PHP/Syllabus.pdf
sem 5/PPT/DM/Assignment 1 ✔️.pdf
sem 5/PPT/DM/UNIT 1.pptx
sem 5/PPT/DM/Unit 2.pdf
sem 5/PPT/DV/UNIT 1.pptx
sem 5/PPT/DV/UNIT 2.pptx
sem 5/PPT/IS/IS_Assignment_1.docx
sem 5/PPT/IS/Syllabus.pdf
sem 5/PPT/IS/Unit 1 Revision.docx
sem 5/PPT/IS/Unit 1.pdf
sem 5/PPT/IS/Unit 2.pptx
sem 5/PPT/IS/Unit 3.pptx
sem 5/PPT/IS/unit-2 updated.ppt
sem 5/PPT/IS/UNIT1ppt__2025_08_28_11_40_07.ppt
sem 5/PPT/IS/unit2updatedppt__2025_08_28_11_40_37.ppt
sem 5/PPT/IS/unit3withhashfunctionspptx__2025_08_28_11_40_52.pptx
sem 5/PPT/IS/Unit4_ProgramSecuritypptx__2025_08_28_11_41_08.pptx
sem 5/PPT/IS/Unit5_NetworkSecurity_NEWpptx__2025_08_28_11_41_18.pptx
sem 5/PPT/PHP/Syllabus.pdf
sem 5/PPT/PHP/Unit 1.pdf
sem 5/PPT/PHP/Unit 2.pptx
sem 5/PPT/SE/05BC3401_SE_Assignmentpdf__2025_07_24_22_49_48.pdf
sem 5/PPT/SE/Unit 1(1).pdf
sem 5/PPT/SE/Unit 1.pdf
sem 5/PPT/SE/Unit 2.pdf
sem 5/PPT/SE/Unit 3 1S.pdf
sem 5/PPT/SE/Unit 3 2S.pdf
sem 5/PPT/SE/Unit 3.pdf
sem 5/PPT/SE/Unit 4  S.pdf
sem 5/PPT/SE/Unit 5 S.pdf
sem 5/PPT/SE/Unit 5.pdf
Project/MU_logo_PPT.pptx
Project/PHP Project/storage/jobs/1d2e4cc06da2e513/SE Assignment.docx
Project/PHP Project/storage/jobs/9f8616ef0d627239/SE Assignment.docx
Project/PHP Project/storage/jobs/9fc13437834afa10/Operating_System_Notes.docx
Project/PHP Project/storage/jobs/c11fd2e1a738eb41/ICICI_Bank_Stock_Market_Project_FINAL_PPT.pptx
Project/SIP2/SIP/Mood_Based_Music_Player_Presentation_Updated.pptx
Project/SIP2/SIP/SIP.pdf
sem 1/PPT/BWD/BWD-8-8.txt.docx
sem 1/PPT/C/CC Notes.docx
sem 1/PPT/C/Syllabus.pdf
sem 2/Code/C/CH - 1/P1.C.docx
sem 2/Code/C/CH - 1/P10.docx
sem 2/Code/C/CH - 1/P11.C.docx
sem 2/Code/C/CH - 1/P12.C.docx
sem 2/Code/C/CH - 1/P13.C.docx
sem 2/Code/C/CH - 1/P14.C.docx
sem 2/Code/C/CH - 1/P15.C.docx
sem 2/Code/C/CH - 1/P16.C.docx
sem 2/Code/C/CH - 1/P17.C.docx
sem 2/Code/C/CH - 1/P2.C.docx
sem 2/Code/C/CH - 1/P3.C.docx
sem 2/Code/C/CH - 1/P4.C.docx
sem 2/Code/C/CH - 1/P5.C.docx
sem 2/Code/C/CH - 1/P6.C.docx
sem 2/Code/C/CH - 1/P7.C.docx
sem 2/Code/C/CH - 1/P8.C.docx
sem 2/Code/C/CH - 1/P9.C.docx
sem 2/Code/C/CH - 2/P1.C.docx
sem 2/Code/C/CH - 2/P10.C.docx
sem 2/Code/C/CH - 2/P2.txt.docx
sem 2/Code/C/CH - 2/P3.C.docx
sem 2/Code/C/CH - 2/P4.C.docx
sem 2/Code/C/CH - 2/P5.C.docx
sem 2/Code/C/CH - 2/P6.C.docx
sem 2/Code/C/CH - 2/P7.C.docx
sem 2/Code/C/CH - 2/P8.C.docx
sem 2/Code/C/CH - 2/P9.C.docx
sem 2/Code/C/LABMANUALpdf__2024_02_08_11_47_04.pdf
sem 2/PPT/DBMS/05MC0105_Relational Database Management System_MCA_1.pdf
sem 2/PPT/DBMS/05MC0207 - Data Analytics and Visualization.pdf
sem 2/PPT/DBMS/1. Basic SQL Commands-(S).pdf
sem 2/PPT/DBMS/1. Fundamentals of PLSQL - S.pdf
sem 2/PPT/DBMS/2. Data Constraints-(S).pdf
sem 2/PPT/DBMS/3. SQL-(S).pdf
sem 2/PPT/DBMS/ASSIGNMENT - 5.pdf
sem 2/PPT/DBMS/ASSIGNMENT - 6.pdf
sem 2/PPT/DBMS/ASSIGNMENT - 7.pdf
sem 2/PPT/DBMS/ORACLE Table for Exercise.pdf
sem 2/PPT/DBMS/RDBMS-PracticalExam - B Div.pdf
sem 2/PPT/DS/Unit1pptx__2024_04_16_21_36_42.pptx
sem 2/PPT/DS/Unit2IterativeMethodsforFindingRootspdf__2024_03_11_11_11_56.pdf
sem 2/PPT/DS/Unit2pptx__2024_04_16_21_36_54.pptx
sem 2/PPT/DS/Unit3pptx__2024_04_24_13_23_57.pptx
sem 2/PPT/DS/Unit4pptx__2024_05_02_10_37_57.pptx
sem 2/PPT/DS/Unit5pptx__2024_05_04_15_55_07.pptx
sem 3/Code/05BC3301DBMS2pdf__2024_07_04_08_01_02.pdf
sem 3/Code/05BC3302DSpdf__2024_07_05_07_58_56.pdf
sem 3/Code/ch-1.docx
sem 3/Code/ch-2.docx
sem 3/Code/DS/.vscode/c_cpp_properties.json
sem 3/Code/java/java.pdf
sem 3/PPT/DBMS2/unit1pdf__2024_07_10_13_06_40.pdf
sem 3/PPT/DBMS2/Unit2pptxpdf__2024_07_30_12_12_42.pdf
sem 3/PPT/DBMS2/Unit3pdf__2024_07_30_12_12_57.pdf
sem 3/PPT/DBMS2/Unit4pdf__2024_09_24_09_49_35.pdf
sem 3/PPT/DBMS2/Unit5pdf__2024_09_24_09_51_08.pdf
sem 3/PPT/DS/UNIT1pptx__2024_07_17_15_17_58.pptx
sem 3/PPT/DS/Unit2pptx__2024_07_17_15_18_18.pptx
sem 3/PPT/DS/Unit3pptx__2024_07_17_15_18_38.pptx
sem 3/PPT/DS/Unit4pptx__2024_07_17_15_19_18.pptx
sem 3/PPT/DS/Unit5pptx__2024_07_17_15_19_36.pptx
sem 3/PPT/Java/TBUnit1pdf__2024_09_03_11_08_25.pdf
sem 3/PPT/Java/TBUnit2pdf__2024_09_03_11_09_07.pdf
sem 3/PPT/Java/TBUnit3pdf__2024_11_21_15_25_31.pdf
sem 3/PPT/Java/TBUnit4pdf__2024_11_21_15_25_45.pdf
sem 3/PPT/Java/TBUnit5pdf__2024_11_21_15_26_06.pdf
sem 3/PPT/LS/Presentation2pptx__2024_10_26_12_35_31.pptx
sem 3/PPT/LS/Unit2DFinalpptx__2024_10_26_12_02_06.pptx
sem 3/PPT/MIS/Unit 1.pdf
sem 3/PPT/MIS/Unit 2.pdf
sem 3/PPT/MIS/Unit 3.pdf
sem 3/PPT/MIS/Unit 4.pdf
sem 3/PPT/MIS/Unit 5.pdf
sem 4/PPT/CN/Assignment 2.docx
sem 4/PPT/CN/OSI Model.pdf
sem 4/PPT/CN/Revision.docx
sem 4/PPT/CN/Syllabus.pdf
sem 4/PPT/CN/Unit 1 (2).pdf
sem 4/PPT/CN/Unit 1.pdf
sem 4/PPT/CN/Unit 2.pdf
sem 4/PPT/CN/Unit 3.pdf
sem 4/PPT/CN/Unit_5_AL.pdf.pdf
sem 4/PPT/CN/Unit_5_TL.pdf
sem 4/PPT/OS/OS_LAB_Manual.pdf
sem 4/PPT/OS/Questions.docx
sem 4/PPT/OS/Revision.docx
sem 4/PPT/OS/Unit 1 (2).pdf
sem 4/PPT/OS/Unit 1.pdf
sem 4/PPT/OS/Unit 2.pdf
sem 4/PPT/OS/Unit 3.pdf
sem 4/PPT/OS/Unit 4.pdf
sem 4/PPT/OS/Unit 5 (1).pdf
sem 4/PPT/OS/Unit 5 (2).pdf
sem 4/PPT/Python/Syllabus.pdf
sem 4/PPT/Python/Unit 1.pdf
sem 4/PPT/Python/Unit 2.pdf
sem 4/PPT/R/05BC3403RPROGpdf__2025_01_21_07_56_13.pdf
sem 4/PPT/R/createanemptyvectorinRdocx__2025_01_20_07_58_21.docx
sem 4/PPT/R/Exercise1Defdocx__2025_01_21_07_55_18.docx
sem 4/PPT/R/sprintfinRProgrammingdocx__2025_01_27_08_02_15.docx
sem 5/Code/PHP/Syllabus.pdf
sem 5/PPT/DM/Assignment 1 ✔️.pdf
sem 5/PPT/DM/UNIT 1.pptx
sem 5/PPT/DM/Unit 2.pdf
sem 5/PPT/DV/UNIT 1.pptx
sem 5/PPT/DV/UNIT 2.pptx
sem 5/PPT/IS/IS_Assignment_1.docx
sem 5/PPT/IS/Syllabus.pdf
sem 5/PPT/IS/Unit 1 Revision.docx
sem 5/PPT/IS/Unit 1.pdf
sem 5/PPT/IS/Unit 2.pptx
sem 5/PPT/IS/Unit 3.pptx
sem 5/PPT/IS/unit-2 updated.ppt
sem 5/PPT/IS/UNIT1ppt__2025_08_28_11_40_07.ppt
sem 5/PPT/IS/unit2updatedppt__2025_08_28_11_40_37.ppt
sem 5/PPT/IS/unit3withhashfunctionspptx__2025_08_28_11_40_52.pptx
sem 5/PPT/IS/Unit4_ProgramSecuritypptx__2025_08_28_11_41_08.pptx
sem 5/PPT/IS/Unit5_NetworkSecurity_NEWpptx__2025_08_28_11_41_18.pptx
sem 5/PPT/PHP/Syllabus.pdf
sem 5/PPT/PHP/Unit 1.pdf
sem 5/PPT/PHP/Unit 2.pptx
sem 5/PPT/SE/05BC3401_SE_Assignmentpdf__2025_07_24_22_49_48.pdf
sem 5/PPT/SE/Unit 1(1).pdf
sem 5/PPT/SE/Unit 1.pdf
sem 5/PPT/SE/Unit 2.pdf
sem 5/PPT/SE/Unit 3 1S.pdf
sem 5/PPT/SE/Unit 3 2S.pdf
sem 5/PPT/SE/Unit 3.pdf
sem 5/PPT/SE/Unit 4  S.pdf
sem 5/PPT/SE/Unit 5 S.pdf
sem 5/PPT/SE/Unit 5.pdf
